html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section, article, aside, header, footer, nav, dialog, figure,menu,hgroup{ margin:0; padding:0; border:0;  font-family:"PingFang SC","Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;;  font-weight:400;}
html{ -webkit-text-size-adjust:none;}
body{ font-size:14px; line-height:26px;  color:#333!important;}
input,textarea,button,select{ resize:none;  -webkit-appearance: none; font-family:"PingFang SC","Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;}
img{ border:none; vertical-align:top; }
ul,li{ list-style:none;}
a{ text-decoration:none; color:#333; transition:color 0.1s ease-in;border:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline: none;}
a:hover{ outline:none; text-decoration:none;}
a:focus{ outline:none;}
h1,h2{ font-weight:normal;}
input:focus,textarea:focus,button{ outline:none; -webkit-appearance: none;}
em,i{ font-style:normal;}

input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner { border: none; padding: 0;}
::-webkit-input-placeholder { color: #999;}
:-moz-placeholder { color: #999;}
::-moz-placeholder { color: #999;}
:-ms-input-placeholder { color: #999;}

@font-face { font-family: 'fontello'; src: url('../font/fontello.eot'); src: url('../font/fontello.eot?#iefix') format('embedded-opentype'), url('../font/fontello.woff') format('woff'), url('../font/fontello.ttf') format('truetype'), url('../font/fontello.svg#fontname') format('svg');}

.mainbox{ width:1200px; margin:0 auto;}
.or{ overflow:hidden;} 
.cl:after {content: ""; display: block; clear: both;}

.toe { white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

.line { white-space: normal; text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;} 
.line.line-one { line-clamp: 1; -webkit-line-clamp: 1;}
.line.line-two { line-clamp: 2; -webkit-line-clamp: 2;}



.bs-b { box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);}

body.modal{ width:100%; position:fixed; }

.dib { display: inline-block; vertical-align: top;}

.btn { padding: 6px 15px; cursor: pointer; transition: .3s; overflow: hidden; border-radius: 3px; border: 1px solid #e9e9e9; color: #444; background-color: #ffffff;}
.btn-hover:hover { opacity: 0.6;}

@media screen and (max-width: 1230px) {
.mainbox {width: 90%;}
}


@media screen and (max-width: 540px) {
.mainbox { width: 96%;}
}