.course-con { text-align: left;}
.course-con > .con { margin-bottom: 26px!important; font-size: 12px;}

.course-con.style-800 > .con { width: calc(33.33% - 12px); margin-right: 18px;}
.course-con.style-800 > .con:nth-child(3n) { margin-right: 0;}

.course-con.style-1200 > .con { width: calc(25% - 12px); margin-right: 16px;}
.course-con.style-1200 > .con:nth-child(4n) { margin-right: 0;}

.course-con > .con dl { cursor: pointer;}
.course-con > .con dd { padding: 0 10px;}
.course-con > .con .img { border-radius: 10px; background-color: #f3f5f7; overflow: hidden; margin-bottom: 10px;}
.course-con > .con .img > img { width: 100%; height: 100%;}
.course-con > .con .title { font-size: 16px; color: #07111B; line-height: 24px; font-weight: bold;}
.course-con > .con .info { font-size: 12px; color: #93999f; line-height: 20px; transition: .3s all linear; margin-bottom: 4px;}
.course-con > .con .info.search-info { display: none;}

.course-con > .con .detail { font-size: 12px;display: -webkit-flex; display: flex;}
.course-con > .con .detail > p.search { flex: 2;}
.course-con > .con .detail > p.status { flex: 1;}
.course-con > .con .detail > p.price-con { flex: 3;}
.course-con > .con .detail .price > span { margin-right: 4px;}
.course-con > .con .detail .price > span:last-child { margin-right: 0;}
.course-con > .con .detail .price > .new { color: #f01414;}
.course-con > .con .detail .price > .old { text-decoration: line-through;}


.course-detail { padding: 25px 30px; background: #ffffff; margin-bottom: 26px;}
.course-detail > dl > dt > img { width: 300px; height: 300px; margin-right: 20px;}
.course-detail > dl > dd { width: calc(800px - 384px);}
.course-detail > dl > dd > .item { margin-bottom: 10px;}
.course-detail > dl > dd > .item > .icon > img { width: 40px; height: 40px; border-radius: 50%; margin-right: 4px;}
.course-detail > dl > dd > .item > h2 { margin: 20px 0 10px;}
.course-detail > dl > dd > .item > p { color: #777;}
.course-detail > dl > dd > .item > span { line-height: 40px; margin-right: 4px;}
.course-detail > dl > dd > .item > span.time { float: right;}




@media screen and (max-width: 1080px) {
.course-con.style-1200 > .con { width: calc( 33.33% - 12px); margin-right: 18px;}
.course-con.style-1200 > .con:nth-child(4n) { margin-right: 18px;}
.course-con.style-1200 > .con:nth-child(3n) { margin-right: 0;}
/* .course-con.style-1200 > .con:nth-child(2n) { margin-right: 18px;} */
}


@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {
.course-con.style-800 > .con { width: calc( 50% - 8px); margin-right: 16px;}
.course-con.style-800 > .con:nth-child(3n) { margin-right: 16px;}
.course-con.style-800 > .con:nth-child(2n) { margin-right: 0;}

.course-con.style-1200 > .con { width: calc( 50% - 8px); margin-right: 16px;}
.course-con.style-1200 > .con:nth-child(4n) { margin-right: 0;}
.course-con.style-1200 > .con:nth-child(3n) { margin-right: 16px;}
.course-con.style-1200 > .con:nth-child(2n) { margin-right: 0;}

}


@media screen and (max-width: 540px) {
.course-con > .con { margin-bottom: 10px!important;}

.course-con.style-800 > .con { width: 100%; margin: 0;}
.course-con.style-800 > .con:nth-child(3n) { margin-right: 0;}

.course-con.style-1200 > .con { width: 100%; margin-right: 0;}
.course-con.style-1200 > .con:nth-child(4n) { margin-right: 0;}
.course-con.style-1200 > .con:nth-child(3n) { margin-right: 0;}
.course-con.style-1200 > .con:nth-child(2n) { margin-right: 0;}

.course-con > .con > dl { display: flex; display: -webkit-flex;}
.course-con > .con > dl .img { flex: 2;}
.course-con > .con > dl .title { flex: 4;}
.course-con > .con > dl .info, .from { display: none;}
.course-con > .con > dl .price { flex: 1;}
.course-con > .con > dl .price > .old { display: none;}

.course-con > .con > dl .info.search-info { display: block;}

.course-con > .con > dl .img { margin-bottom: 0;}
.course-con > .con > dl .detail { width: 54px; text-align: center;}
.course-con > .con > dl .detail { margin-bottom: 0; padding: 0; align-items: center;}
.course-con > .con > dl .detail > .search { display: none;}
.course-con > .con > dl .detail > .price { background-color: rgba(43,51,59,.06); border-radius: 10px; padding: 2px;}
.course-con > .con > dl .detail > p.status { display: none;}


}