.line-active { border-bottom: 4px solid #FFA200; cursor: default!important;}
.line-active > a { cursor: default;}


header .mainbox.line { border-bottom: 1px solid #ccc;}


header { padding: 0; background-color: #fff;}
header .img-con { width: 108px; height: 30px; margin: 10px 70px 0 0;}
header .img-con > img { width: 100%; height: 100%;}

header .tab-con > li { cursor: pointer; padding: 10px 0; width: 100px; text-align: center;}
header .tab-con > li > a { font-size: 16px; color: #3f3f3f;}

header .btn-con { margin: 12px 0 0 0; float: right;}
header .btn-con > .iconfont { font-size: 24px; font-weight: 900; color: #FFA200; display: none;}

header .item-con { margin-left: 120px;}
header .item-con > li { padding: 8px 12px; margin: 0 2px;}
header .item-con > li > a { font-size: 14px; color: #a7a7a7;}
header .item-con > li > a.active { color: #ffa200;}
header .item-con > li > a.active:hover { color: #ffa200;}
header .item-con > li > a:hover { color: #777;}

header .search-con { float: right; margin-top: 6px;}
header .search-con > .con { border-radius: 20px; border: 1px solid #e7e7e7; padding: 0 10px;}
header .search-con > .con > input { border: none;}
header .search-con > .con > span { font-size: 20px; color: #a7a7a7; font-weight: 700;}



@media screen and (max-width: 768px) {
header .mainbox.item { display: none;}
header .btn-con > a { display: none;}
header .btn-con > .iconfont { display: block;}
header .mainbox.line { border-bottom: none;}
}
