

/* card */
body { background-color: #f0f0f0;}

.main { font-size: 0; margin-top: 16px;}
.main > .side { font-size: 14px;}

.main > .side.left { width: 800px;}

.main > .side.right { width: 384px; margin-left: 16px;}
.main > .side.right { width: 384px; margin-left: 16px;}

.main > .side.right .tag-con { background-color: #fff; padding: 25px 30px; margin-bottom: 20px; font-size: 0;}
.main > .side.right .tag-con > h2 { font-size: 15px; color: #000000;}
.main > .side.right .tag-con > .info > span { font-size: 12px; display: inline-block; margin: 4px; padding: 2px 4px; line-height: 18px; background-color: #f5f2f0; color: #646567; border-radius: 6px; cursor: pointer;}
.main > .side.right .tag-con > .info > span:hover { background-color: #0cc; color: #ffffff; transition: all .3s;}


.main > .side.right .tag-con > dl { font-size: 14px;}
.main > .side.right .tag-con > dl > dt > img { width: 80px; height: 80px; margin-right: 4px;}
.main > .side.right .tag-con > dl > dd { width: calc(384px - 148px);}
.main > .side.right .tag-con > dl > dd > p { color: #888; line-height: 20px; margin-top: 10px;}



.main .card-con { padding: 25px 30px; border-radius: 2px; background: #fff; margin-bottom: 16px;}
.main .card-con dl > dt { float: left;}
.main .card-con dl > dt > img { width: 50px; height: 50px; cursor: pointer; margin-right: 10px;}
.main .card-con dl > dd { width: calc(100% - 60px);}
.main .card-con dl > dd > h2 { display: inline; font-size: 22px; color: #000; font-weight: bold;}
.main .card-con dl > dd > h2 > span { font-size: 18px; font-weight: normal;}
.main .card-con dl > dd > .detail .info { color: #999; font-size: 13px;}
.main .card-con dl > dd > .detail .like { float: left;}
.main .card-con dl > dd > .detail .time { float: right;}

.main .card-con > .img-con { margin-top: 8px;}
.main .card-con > .img-con > img { width: 100%; height: 100%;}

.main .card-con > .comment { margin-top: 30px; text-align: left;}
.main .card-con > .comment > h2 > .name { font-size: 16px; color: #000; margin-right: 6px;}
.main .card-con > .comment > h2 > .from { font-size: 14px; color: #585858;}
.main .card-con > .comment > h3 { font-size: 13px; color: #777777; padding: 0 20px; line-height: 20px; margin-top: 10px;}




@media screen and (max-width: 1230px) {
.main.mainbox { text-align: center;}

.main > .side.right { width: 100%; margin: 0;}
}

@media screen and (max-width: 960px) {
.main > .side.left { width: 100%;}

}


@media screen and (max-width: 768px) {

}


@media screen and (max-width: 540px) {
.main .card-con { padding: 10px; margin-bottom: 10px;}
.main .card-con dl > dd > h2 { font-size: 16px;}
.main .card-con dl > dd > h2 > span { font-size: 14px;}
.main .card-con dl > dt > img { width: 40px; height: 40px;}

.main .card-con > .img-con { margin-top: 4px;}
.main .card-con dl > dd > .detail { line-height: 12px;}

.main .card-con > .comment { margin-top: 6px;}
.main .card-con > .comment > h3 {margin-top: 2px;}

}