<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="font/iconfont.css">
    <link rel="stylesheet" href="css/basicstyle.css">

    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/course.css">

</head>

<body>
    <div id="con">

        <header class="bs-b">
            <div class="mainbox line">
                <div class="img-con dib">
                    <img src="http://static.zuimeia.com/product/img/title_logo.png" alt="">
                </div>
                <ul class="tab-con dib">
                    <li :class="['dib', {'line-active': index === tabIndex}]" v-for="(item, index) of tabList"
                        :key="index" @click="switchTab(index);">
                        <a href="javascript:;">{{ item.name }}</a>
                    </li>
                </ul>
                <div class="btn-con dib">
                    <a href="javascript:;" class="btn btn-hover">关于拾粮</a>
                    <span class="iconfont iconsearch"></span>
                </div>
            </div>
            <div class="mainbox item">
                <ul class="item-con dib">
                    <li class="dib" v-for="(item, index) of itemList" :key="index">
                        <a href="javascript:;" :class="{'active': index === itemIndex}"
                            @click="switchItem(index);">{{ item.name }}</a>
                    </li>
                </ul>
                <div class="search-con cl">
                    <div class="con">
                        <input type="text" placeholder="搜索...">
                        <span class="iconfont iconsearch"></span>
                    </div>
                </div>
            </div>
        </header>

        <div class="main mainbox">
            <div class="side left dib">
                <div class="course-detail">
                    <dl>
                        <dt class="dib">
                            <img src="http://qstatic.zuimeia.com/img/covers/cld/2020012022513455714_1200x700.png"
                                alt="">
                        </dt>
                        <dd class="dib">
                            <div class="item">
                                <h2>课程名称课程名称</h2>
                            </div>
                            <div class="item">
                                <div class="icon dib">
                                    <img src="http://qstatic.zuimeia.com/img/covers/cld/2020012022513455714_1200x700.png"
                                        alt="">
                                </div>
                                <span class="name">名称名称</span>
                                <span class="time">2020-02-02</span>
                            </div>
                            <div class="item">
                                <p>本路线精选程序员必修的数学基础课和计算机基础核心知识，有序打基础职场走更远，本路线精选程序员必修的数学基础课和计算机基础核心知识，有序打基础职场走更远</p>
                            </div>
                            <div class="item">
                                
                            </div>
                        </dd>
                    </dl>
                </div>

                <!-- 卡片 -->
                <div class="card-con" v-for="(item, index) of cardList" :key="index">
                    <dl>
                        <dt class="dib"><img :src="item.icon" :alt="item.title" :title="item.title"></dt>
                        <dd class="dib toe">
                            <h2>
                                {{ item.title }}
                                <span> --- {{ item.info }} {{ item.info }}</span>
                            </h2>
                            <div class="detail cl">
                                <div class="like">
                                    <span class="iconfont iconsearch"></span>
                                    <span class="info">{{ item.like }}</span>
                                </div>
                                <div class="time">
                                    <span class="info">{{ item.time }}</span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <div class="img-con">
                        <img :src="item.img" alt="">
                    </div>
                    <div class="comment">
                        <h2>
                            <span class="name">{{ item.user }}</span>
                            <span class="from">{{ item.from }} :</span>
                        </h2>
                        <h3 class="line line-two">{{ item.comment }}</h3>
                    </div>
                </div>
                <!-- 课程 -->
                <div class="course-con style-800">
                    <div class="con dib" v-for="(item, index) of courseList_800" :key="index">
                        <dl>
                            <dt class="img"><img
                                    src="https://dss0.baidu.com/73x1bjeh1BF3odCf/it/u=2974505005,842007342&fm=85&s=DE702CC454F2ADDA0A01852703005043"
                                    alt=""></dt>
                            <dd class="title">
                                <span class="line line-two">TypeScript 系统入门到项目实战 趁早学习提高职场竞争力</span>
                                <p class="info search-info">搜索指数： 99</p>
                            </dd>
                            <dd class="info">
                                <span class="line line-two">本路线精选程序员必修的数学基础课和计算机基础核心知识，有序打基础职场走更远。</span>
                            </dd>
                            <dd class="from">XXX学院</dd>
                            <dd class="detail">
                                <p class="search">搜索指数： 99</p>
                                <p class="status">白学</p>
                                <p class="price">
                                    <span class="new">￥ 19</span>
                                    <span class="old">￥ 99</span>
                                </p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="side right dib">
                <div class="tag-con">
                    <h2>{{ tagObj.tagName }}</h2>
                    <div class="info">
                        <span v-for="(item, index) of tagObj.tagList" :key="index">标签一</span>
                    </div>
                </div>

                <div class="tag-con">
                    <dl>
                        <dt class="dib">
                            <img src="http://static.zuimeia.com/product/img/zuimei-qrcode@2x.png" alt="">
                        </dt>
                        <dd class="dib">
                            <h2>最美应用微信公众账号</h2>
                            <p>发现功能、交互和视觉最美的iPhone和Android应用</p>
                        </dd>
                    </dl>
                </div>
            </div>

            <!-- 课程 -->
            <div class="course-con style-1200">
                <div class="con dib" v-for="(item, index) of courseList_1200" :key="index">
                    <dl>
                        <dt class="img"><img
                                src="https://dss0.baidu.com/73x1bjeh1BF3odCf/it/u=2974505005,842007342&fm=85&s=DE702CC454F2ADDA0A01852703005043"
                                alt=""></dt>
                        <dd class="title">
                            <span class="line line-two">TypeScript 系统入门到项目实战 趁早学习提高职场竞争力</span>
                            <p class="info search-info">搜索指数： 99</p>
                        </dd>
                        <dd class="info">
                            <span class="line line-two">本路线精选程序员必修的数学基础课和计算机基础核心知识，有序打基础职场走更远。</span>
                        </dd>
                        <dd class="from">XXX学院</dd>
                        <dd class="detail">
                            <p class="search">搜索指数： 99</p>
                            <p class="status">白学</p>
                            <p class="price">
                                <span class="new">￥ 19</span>
                                <span class="old">￥ 99</span>
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>


    <script src="./js/extra/vue.min.js"></script>
    <script src="./js/index.js"></script>

</body>

</html>